@use './vars' as v;

//OVerlay
.overlay {
    width: 100%;
    height: 100%;
    min-height: 420px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:focus,
select:focus {
    outline: 1px solid v.$medium;
}

/* Inlogg/registrering-formulär */
.authform {
    input:not(input[type='submit']) {
        /* Gradient border nertill */
        border: 5px solid;
        border-image-slice: 1;
        border-width: 2px;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-image-source: linear-gradient(to right, v.$mediumlight, v.$mediumdark);
    }
}

/* Submit-knapp */
.authform input[type='submit'] {
    background-color: v.$dark;
    color: v.$light;
    margin-top: 2em;
    border-radius: 3em;
    padding: 0.5em 2em;

    &:hover {
        background-color: v.$mediumlight;
        color: v.$dark;
    }
}

//Formulär som lägga till eller ändra produkt, leverantör eller kategori
.overlay-form {
    width: 100%;

    label {
        display: block;
        margin-left: 1em;
        margin-bottom: 0.2em;
    }

    input,
    select {
        width: 100%;
        margin-bottom: 1em;
        border-radius: 1em;
        padding: 0.3em 0.8em;
        background-color: white;
    }

    //Två fält bredvid varandra
    .input-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
    //Knappar
    .form-controls {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5em;

        input,
        .deleteBtn {
            @include v.transition;
            background-color: v.$mediumdark;
            color: v.$light;
            padding: 0.6em 2em;
            border-radius: 2em;
            width: fit-content;
            cursor: pointer;

            &:hover {
                background-color: v.$medium;
                color: white;
            }
        }

        input[type='reset'],
        .deleteBtn {
            background-color: v.$mediumlight;
            color: v.$mediumdark;

            &:hover {
                background-color: v.$medium;
                color: v.$dark;
            }
        }

        .deleteBtn {
            height: fit-content;
        }
    }
}

//Formulär
.form-wrapper {
    width: 70%;
    height: 97%;
    max-height: 800px;
    overflow-y: auto;
}

//stäng-knapp:
.close {
    top: -0.4em;
    right: 0.2em;
    font-size: 3em;
}

//Bredda formulär
@media (max-width: 900px) {
    .form-wrapper {
        width: 90%;
    }
}

//Ännu mer!
@media (max-width: 670px) {
    .form-wrapper {
        width: 95%;
    }
}

@media (max-width: 600px) {
    //Gör om vissa grupper till kolumner
    .input-group.ss-col {
        grid-template-columns: 1fr;
    }
}

//För undersidor med lägg till-knapp, lista och sökfält
.ctrl-grid-wrap {
    grid-template-columns: 1fr 2fr 1fr;
}

@media (max-width: 800px) {
    .ctrl-grid-wrap {
        gap: 1em;
    }
}

@media (max-width: 600px) {
    .ctrl-grid-wrap {
        grid-template-areas: 'add select select' 'searchbar searchbar searchbar';

        //Knapp
        #add {
            grid-area: add;
        }

        //lista
        #select {
            grid-area: select;
        }

        //sökfält
        #searchbar {
            grid-area: searchbar;
        }
    }
}
