@use './vars' as v;

//Allmän
table {
    font-family: v.$logs;
    font-size: 0.85em;
}

//Rubriker
th {
    text-align: left;
    font-weight: 400;
    font-size: 1.1em;
    padding: 0.5em 1em;
    cursor: pointer;

    &:hover {
        background-color: v.$mediumdark;
    }
}

//Data
td {
    border-bottom: 1px solid v.$medium;
    padding: 0.5em 1em;
}

//Redigera-knapp
td.edit {
    text-align: center;
}

//Ikon
i {
    color: v.$medium;
    font-size: 1.3em;
}

//Varannan vit
tr:nth-child(even) {
    background-color: white;
}

//Runt hela tabellen
.table-wrapper {
    overflow: auto;
    height: calc(100vh - 375px);
}

//Specifika egenskaper för Firefox för den är kinkig
@supports (-moz-appearance: none) {
    thead {
        background-color: v.$light;

        th {
            background-color: v.$medium;
        }
    }
}

//Minska tabellens kolumner, klipp av med punkter
@media (max-width: 1500px) {
    td {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

//Minska textstorlekar
@media (max-width: 1200px) {
    th {
        font-size: 0.9em;
    }

    td {
        font-size: 0.85em;
    }
}
