@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(#082329, #0b4651);
    max-width: 2300px;
    margin: auto;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Kantumruy Pro', Arial, Helvetica, sans-serif;
    position: relative;
}

h1,
h2,
h3,
h4 {
    font-family: 'Rethink Sans', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

button {
    color: black;
    font-size: 1em;
    font-family: 'Kantumruy Pro', Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
}
