@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(#082329, #0b4651);
    max-width: 2300px;
    margin: auto;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Kantumruy Pro', Arial, Helvetica, sans-serif;
    position: relative;
}

h1,
h2,
h3,
h4 {
    font-family: 'Rethink Sans', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

button,
input[type='submit'] {
    color: black;
    font-size: 1em;
    font-family: 'Kantumruy Pro', Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
}

/*  Inloggningsruta/registrering */
.box a {
    text-decoration: 2.3px dotted underline;
    color: #dfebec;
}

.box a:hover {
    color: #bdd1bd;
}

/* Inlogg/registrering-formulär */
.authform label {
    display: block;
    margin-top: 2em;
}

.authform input:not(input[type='submit']) {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    background-color: #0b4651;

    /* Gradient border nertill */
    border: 5px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-image-source: linear-gradient(to right, #bdd1bd, #0b4651);
}

/* Submit-knapp */
.authform input[type='submit'] {
    background-color: #082329;
    color: #dfebec;
    margin-top: 2em;
    border-radius: 3em;
    padding: 0.5em 2em;

    &:hover {
        background-color: #bdd1bd;
        color: #082329;
    }
}

input:focus {
    outline: 1px solid #bdd1bd;
}

/* h1or i appen */
.intro {
    width: fit-content;
}

@media (max-width: 550px) {
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1.1em;
    }
}
